* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body: #d7d7d7;
  --info: #bbbbbb;
  --heading: #f8f8f8;
  --highlight: #ff57b2;
  --background: #1a1d23;
}

body {
  color: var(--body);
  background-color: var(--background);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 728px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
textarea,
select,
button {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
