// TODO
.container {
  margin-top: 2.02rem;

  .content {
    margin: 1.25rem 27.11vw 0;

    .loadPosts {
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.375rem;
      text-align: justify;
      color: var(--highlight);
      margin-top: 4rem;
      cursor: pointer;
    }

    a {
      display: block;
      color: var(--heading);

      & + a {
        margin-top: 2.75rem;
      }
    }

    h2 {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 1.75rem;
      line-height: 2.125rem;

      /* identical to box height */
      text-align: justify;
      letter-spacing: -0.03125rem;
    }

    p {
      margin-top: 0.75rem;
      font-family: Inter;
      font-size: 1.125rem;
      line-height: 1.375rem;
      line-height: 100%;
      text-align: 'justify';
      vertical-align: Top;
    }

    time {
      // text-transform: capitalize;
    }
  }
}
