// TODO
.container {
  width: 100vw;
  height: 7.25rem;
  padding: 0 11.11vw;

  display: flex;
  align-items: center;
  // background-color: red;
}

.contentLogo {
  margin-left: 16vw;
  display: flex;
  align-items: center;

  img {
    width: 17.5vw;
  }
}
